/* Import tyhe fonts used for this assessment */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:wght@300;400;700;800&display=swap');

/* Colors used in this assessment */
:root {
  --company-color-1: hsl(205, 7%, 52%);
  --company-color-1-90: hsl(206, 7%, 62%);
  --company-color-1-80: hsl(207, 7%, 71%);
  --company-color-1-70: hsl(207, 7%, 76%);
  --company-color-1-60: hsl(200, 6%, 81%);
  --company-color-1-50: hsl(200, 6%, 90%);
  --company-color-1-40: hsl(180, 4%, 95%);
  --company-color-2: hsl(81, 67%, 44%);
  --company-color-2-90: hsl(79, 52%, 56%);
  --company-color-2-80: hsl(78, 50%, 68%);
  --company-color-2-70: hsl(79, 49%, 74%);
  --company-color-2-60: hsl(78, 49%, 79%);
  --company-color-2-50: hsl(80, 48%, 90%);
  --company-color-2-40: hsl(82, 44%, 95%);
  --company-color-3: hsl(215, 67%, 37%);
  --company-color-3-90: hsl(242, 28%, 50%);
  --company-color-3-80: hsl(226, 38%, 64%);
  --company-color-3-70: hsl(227, 39%, 70%);
  --company-color-3-60: hsl(230, 39%, 77%);
  --company-color-3-50: hsl(233, 40%, 88%);
  --company-color-3-40: hsl(235, 43%, 95%);
  --success: var(--company-color-2);
  --warn: hsl(50, 95%, 55%);
  --error: hsl(0, 100%, 50%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 100%, 0%);
}
